<!doctype html>
<html ng-app='inputExample'>
    <head>
    	<meta charset="utf8"/>
        <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
		<style>
		 .my-form {
		   -webkit-transition:all linear 0.5s;
		   transition:all linear 0.5s;
		   background: transparent;
		 }
		 .my-form.ng-invalid {
		   background: red;
		 }
		</style>

<script>
   angular.module('inputExample', [])
     .controller('ExampleController', ['$scope', function($scope) {
       $scope.user = {name: 'guest', last: 'visitor'};
     }]);
</script>

    </head>
    <body>	
		<div ng-controller="ExampleController">
		  <form name="myForm">
		    User name: <input type="text" name="userName" ng-model="user.name" required>
		    <span class="error" ng-show="myForm.userName.$error.required">
		      Required!</span><br>
		    Last name: <input type="text" name="lastName" ng-model="user.last"
		      ng-minlength="3" ng-maxlength="10">
		    <span class="error" ng-show="myForm.lastName.$error.minlength">
		      Too short!</span>
		    <span class="error" ng-show="myForm.lastName.$error.maxlength">
		      Too long!</span><br>
		  </form>
		  <hr>
		  <tt>user = {{user}}</tt><br/>
		  <tt>myForm.userName.$valid = {{myForm.userName.$valid}}</tt><br>
		  <tt>myForm.userName.$error = {{myForm.userName.$error}}</tt><br>
		  <tt>myForm.lastName.$valid = {{myForm.lastName.$valid}}</tt><br>
		  <tt>myForm.lastName.$error = {{myForm.lastName.$error}}</tt><br>
		  <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
		  <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br>
		  <tt>myForm.$error.minlength = {{!!myForm.$error.minlength}}</tt><br>
		  <tt>myForm.$error.maxlength = {{!!myForm.$error.maxlength}}</tt><br>
		</div>
    </body>
</html>

<!--HTML输入元素控制。当ngModel一起使用时,它提供了数据绑定,输入状态控制和验证。-->
<!-- <input
  ng-model=""
  [name=""]
  [required=""]
  [ng-required=""]
  [ng-minlength=""]
  [ng-maxlength=""]
  [ng-pattern=""]
  [ng-change=""]
  [ng-trim=""]>
...
</input> -->








